.popupComponent {
  display: none;
  position: absolute;
  z-index: 10;

  text-decoration: none;
  font-weight: 800;
  white-space: nowrap;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
}

.popupComponent .pop-content {
  margin-top: 10px;
  min-width: 200px;
  max-width: 400px;
  text-align: center;
  /* min-height: 100px;
  max-height: 200px; */
  /* overflow: hidden; */
}
.p-card-content {
  padding: 0;
}

.popupComponent .pop-arrow {
  position: absolute;
  left: 50%;
  display: block;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background: 0 0;
  transform: translate(-50%, 16px);
  pointer-events: none;
}

.popupComponent .pop-arrow .pop-arrow-content {
  position: absolute;
  display: block;
  width: 11.3137085px;
  height: 11.3137085px;
  margin: auto;
  background-color: var(--surface-ground);
  border-radius: 0 0 2px;
  box-shadow: 3px 3px 7px #00000012;
  transform: translateY(-8px) rotate(45deg);
  content: "";
  pointer-events: auto;
  pointer-events: none;
  inset: 0;
}

.popupComponent .pop-close {
  border-radius: 50px;
  height: 25px;
  width: 25px;
}
