
.p-dropdown .p-dropdown-clear-icon {
  right: unset;
  left: 2.35em !important;
}

label {
  right: 10px;
  left: unset;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  text-align: right;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  text-align: right;
}
/* td,th,.p-column-title {
  text-align: center;
} */
.p-fieldset .p-component {
  margin: 0;
  padding: 0;
}
.p-fieldset-content {
  margin: 0;
  padding: 0;
}
